#home{
    background-image: url(home.jpg);
}
body{
    background-attachment: fixed;
    margin: 0;
    background-size: 100vw 100vh;
}
#nav{
    display: flex;
}
a{
    flex: 1;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 50px;
    color: #ffffff;
}
#nav a{
    height: 400px;
    flex: 1;
    text-align: center;
    padding-top: 250px;
    border: 3px solid #ffffff;
}
#mhome{
    background-image: url(maths.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#phome{
    background-image: url(physics.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#chome{
    background-image: url(chemistry.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    background-color: orangered;
    text-align: center;
}
nav a{
    flex: 1;
}
nav a:hover{
    color: blue;
}
#physics{
    background-image: url(physics.jpg);
}
#math{
    background-image: url(maths.jpg);
}
#chem{
    background-image: url(chemistry.png);
}